In [1]:
__author__ = 'Miloungou Jedidja WL Dupret Joyeux'
__license__ = 'None'
__version__ = '0.1.0'
__email__ = 'joyeuxdupret@gmail.com'

**Exercice 1**

Une premiere maniere en utilisant une liste

In [12]:
# Definition de la fontion transform
def transform(chaincaractere):
    # Separation des chaînes en listes d'entiers
    list1 = list(map(int, chaincaractere[0].split(", ")))
    list2 = list(map(int, chaincaractere[1].split(", ")))
    # Verification de l'existence de nombres en commun dans les deux chaines
    common_numbers = set(list1) & set(list2)
    if not common_numbers:
        return None
    # Fusion des deux listes sans les doublons
    unique_numbers = sorted(set(list1 + list2))
    # Creation de la nouvelle chaine de caracteres
    nouvchaine = ",".join(map(str, unique_numbers)) + ": Miloungou Jedidja WL D Joyeux M1 IA"
    return nouvchaine
    pass
# vous ne modifierez rien après cette ligne
if __name__ == "__main__":
  arr1 = ["1, 3, 4, 7, 13", "1, 2, 4, 13, 15"]
  out = transform(arr1)
  print(out) # doit afficher ---> 31,4,1:nom_prenom_classe
  arr3 = ["9, 3, 5, 7, 14", "10, 2, 6, 16, 15"]
  out = transform(arr3)
  print(out) # doit afficher ---> None

1,2,3,4,7,13,15: Miloungou, Jedidja WL D Joyeux M1 IA
None

Deuxieme maniere en utilisant un ensemble sets

In [13]:
# Definition de la fontion transform
def transform(chaincaractere):
    # Conversion des chaines en d'entiers
    set1 = set(map(int, chaincaractere[0].split(", ")))
    set2 = set(map(int, chaincaractere[1].split(", ")))
    # Verification de l'existence de nombres en commun dans les deux chaines
    common_numbers = set1 & set2
    if not common_numbers:
        return None
    # Creation de la nouvelle chaine de caracteres
    nouvchaine = ",".join(map(str, sorted(set1.union(set2)))) + ": Miloungou Jedidja WL D Joyeux M1 IA"
    return nouvchaine
    pass
# vous ne modifierez rien après cette ligne
if __name__ == "__main__":
  arr1 = ["1, 3, 4, 7, 13", "1, 2, 4, 13, 15"]
  out = transform(arr1)
  print(out) # doit afficher ---> 31,4,1:nom_prenom_classe
  arr3 = ["9, 3, 5, 7, 14", "10, 2, 6, 16, 15"]
  out = transform(arr3)
  print(out) # doit afficher ---> None

1,2,3,4,7,13,15: Miloungou Jedidja WL D Joyeux M1 IA
None

**Exercice 2**

In [27]:
import operator
# Declaration de la liste 1
list1 = list(range(1200, 2000, 135))
# Declaration de la liste 2 en utilisant une boucle for et la condition if
list2 = []
for i in list1:
    if i % 2 == 0:
        list2.append(i * 2)
# Combinaison des deux listes
listvf = list1+list2
# Je compte chercher les nombres pairs et impairs dans les listes creees numbers = (1, 2, 3, 4, 5, 6, 7, 8, 9)
# Declaration des listes o (liste des nombres pairs) et e (liste des nombres impairs)
o = []
e = []
#
for x in listvf:
    if x % 2 == 0:
        o.append(x)
    else:
        e.append(x)
print("La liste 1 est: {}".format(list1))
print("La liste 2 est: {}".format(list2))
print("La combinaison des deux listes est: {}".format(listvf))
print("La liste des nombre pairs est: {}".format(o))
print("La liste des nombre impairs est: {}".format(e))

La liste 1 est: [1200, 1335, 1470, 1605, 1740, 1875]
La liste 2 est: [2400, 2940, 3480]
La combinaison des deux listes est: [1200, 1335, 1470, 1605, 1740, 1875, 2400, 2940, 3480]
La liste des nombre pairs est: [1200, 1470, 1740, 2400, 2940, 3480]
La liste des nombre impairs est: [1335, 1605, 1875]

**Exercice 3**

Premiere maniere : Calcul de la somme et soustraction

In [30]:
import sqlite3
# Definition de la retrouvestockena qui permet de trouve et stocker la valeur manquante
def retrouvestockena(arr):
    x, y = min(arr), max(arr)
    sommeattendu = (y * (y + 1) - x * (x - 1)) // 2
    sommeactuel = sum(arr)
    na = sommeattendu - sommeactuel
    # Stocker la valeur manquante dans la table SQLite
    store_missing_number_in_database(na)
    return na
def store_missing_number_in_database(number):
    # Connexion a la table SQLite
    connection = sqlite3.connect("database.db")
    cursor = connection.cursor()
    # Création d'une table si elle n'existe pas
    cursor.execute('''CREATE TABLE IF NOT EXISTS MissingNumbers (number INTEGER)''')
    # Insertion de la valeur manquante dans la table
    cursor.execute("INSERT INTO MissingNumbers VALUES (?)", (number,))
    connection.commit()
    connection.close()

# Exemple d'utilisation
# Saisie de la liste depuis l'utilisateur
nombres = input("Saisissez les nombres : ")
arr = list(map(int, nombres.split()))
result = retrouvestockena(arr)
print("Nombre manquant:", result)

Saisissez les nombres : 6 8 9
Nombre manquant: 7

Deuxieme maniere

In [31]:
import sqlite3

def retrouvestockena(arr):
    x, y = min(arr), max(arr)

    for i in range(x, y):
        if i not in arr:
            missing_number = i

            # Stocker le nombre manquant dans la table SQLite
            store_missing_number_in_database(missing_number)

            return missing_number

def store_missing_number_in_database(number):
    # Exemple basique de stockage dans une table SQLite
    connection = sqlite3.connect("database.db")
    cursor = connection.cursor()

    # Création d'une table si elle n'existe pas
    cursor.execute('''CREATE TABLE IF NOT EXISTS MissingNumbers (number INTEGER)''')

    # Insertion du nombre manquant dans la table
    cursor.execute("INSERT INTO MissingNumbers VALUES (?)", (number,))

    connection.commit()
    connection.close()

# Exemple d'utilisation
# Saisie de la liste depuis l'utilisateur
nombres = input("Saisissez les nombres : ")
arr = list(map(int, nombres.split()))
result = retrouvestockena(arr)
print("Nombre manquant:", result)

Saisissez les nombres : 6 4 2 2
Nombre manquant: 3